<ion-content [fullscreen]="true">
  <div class="pokedex-container">
    <ion-img
      class="pokemon-image"
      [src]="currentPokemon?.sprites?.front_default"
    ></ion-img>

    <h2 class="pokemon-name ion-text-capitalize">{{ currentPokemon?.name }}</h2>

    <ion-searchbar
      class="search-bar"
      placeholder="Nome ou Número"
      (keyup.enter)="searchPokemon($event)"
    ></ion-searchbar>

    <div class="nav-buttons">
      <ion-button class="prev-button" (click)="prevPokemon()">
        &lt; Prev
      </ion-button>
      <ion-button class="next-button" (click)="nextPokemon()">
        Next &gt;
      </ion-button>
    </div>
  </div>
</ion-content>
